/* Height of main content 100 view height */
.container {
  height: 100vh;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 70%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Change btn to fill row */
.col.s12 > .btn-large {
  width: 100%;
}

/* Button hover effect */
.btn-large {
  overflow: hidden;
}
.btn-large:hover::before {
  opacity:1;
}
.btn-large:before {
  content: '';
  opacity: 0;
  background-color: rgba(68, 138, 255, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

/* Spinner */
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(238, 238, 238, .5);
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.preloader-background p {
  padding-top: 120px;
  margin-left: -50px;
  opacity: 0.8;
} 
/* Spinner Text */
.blinking {
	animation: blinker 0.5s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

/* Table */
table {
  margin-top: 2.5%;
  border-style: groove;
}

/* Scrollbar Customization */
/* width */
::-webkit-scrollbar {
  width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(13, 71, 161); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(68, 138, 255, .7); 
}

/* Adds scrollable tbody on screens larger then 992 */
@media only screen and (min-width: 992px) {
  tbody {
    display: block;
    height: 170px;
    overflow-x: auto;
  }
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
#table-col{
  height: 500px;
  overflow: scroll;
}